body{
  font-family: "Oxanium";
  overflow-x: hidden!important;
 /* background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
 
  
  background: -moz-linear-gradient( left, rgba(212, 0, 50, 0.6), rgba(8, 11, 196, 0.69) 100%);
  background: -webkit-linear-gradient( left, rgba(212, 0, 50, 0.6), rgba(8, 11, 196, 0.69) 100%);
  
  background-color: rgba(206, 37, 77, 0.6);
  background: linear-gradient( left, rgba(212, 0, 50, 0.6), rgba(8, 11, 196, 0.69) 100%);*/  
  background: teal;
  
}
html{
  height: 100%;
}

html{
scroll-behavior: smooth;
}
.preloader
 {
        width: 100%;
        height: 100%;
        
        background: url('preloader5.gif') center no-repeat rgb(212, 0, 50);
        z-index: 99999;
        position: fixed;
    }
   
/*mainbody*/
.navbar{
background: none;
border: none;

}
.navbar-header button{
background-color: none;
border: none;

}
.navbar-header button:hover{
background-color: black;
}

#myNavbar li a{
color: aliceblue;
}
#myNavbar li a:hover{
padding-bottom: 0;
border-bottom: 2px solid rgba(247, 0, 58, 0.6);
font-size: medium;
color: rgb(148, 148, 148);
}

#logo{
width: 60px;
padding: 5px;
}
a{
text-decoration: none;
color: aliceblue;
}

.seprate-line {
height: 3px;
background-color: transparent;
margin-bottom: 10px;
animation: animate1 2s forwards ;
animation-iteration-count: 3;
animation-delay: 0s;
}
@keyframes animate1 {
0% {background-color:rgba(8, 11, 196, 0.69);width:0%;}
25% {background-color:rgba(8, 11, 196, 0.69);}
50% {background-color:rgba(211, 41, 81, 0.6);width:50%;}
75% {background-color:rgba(211, 25, 68, 0.6);}
100% {background-color:rgba(212, 0, 50, 0.6);width:100%;}
}

[data-aos="rotate-ac"] {
transform: rotate(2700deg);
transition-property: transform;

}
[data-aos="rotate-ac"].aos-animate {
transform: rotate(0deg);
}
.Home-items h1,p{
display: grid;

}
.Home-items h1{
font-weight: 900;
font-size: 50px;
}
.Home-items p{
font-weight: bold;
color: rgb(255, 255, 255);
}

.Home-items #mainlogo {
  margin-top: -35vh;
display: block;
margin-left: auto;
margin-right: auto;
width: 36%;
transition: all 1.2s ease-in-out;
}

.Home-items #mainlogo:hover {
transform: rotate(1080deg);
}


#About .container{
width: 100%;
}
p {
font-size: 16px;
}
.margin {
margin-bottom: 30px;
}
.ball1{
  color: orange;
  width: 20px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 100px;
  margin: 10px;
  -moz-animation: bounce1 2s infinite;
  -webkit-animation: bounce1 3s infinite;
  animation: bounce1 2s infinite;
  opacity: 0.5;
}

@keyframes bounce1 {
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(100vw);
  }
  100% {
    transform: translateY(-100vw);
  }
}
.ball4{
  color: yellow;
  width: 20px;
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 100px;
  margin: 10px;
  -moz-animation: bounce4 4s infinite;
  -webkit-animation: bounce4 4s infinite;
  animation: bounce4 4s infinite;
  opacity: 0.5;
}

@keyframes bounce4 {
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(100vw);
  }
  100% {
    transform: translateY(-100vw);
  }
}
.ball2{
  color: red;
  width: 20px;
  background-color: red;
  border: 1px solid red;
  border-radius: 100px;
  margin: 10px;
  -moz-animation: bounce2 3s infinite;
  -webkit-animation: bounce2 3s infinite;
  animation: bounce2 3s infinite;
  opacity: 0.5;

}

@keyframes bounce2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.ball3{
  color: white;
  width: 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 100px;
  margin: 10px;
  -moz-animation: bounce3 4s infinite;
  -webkit-animation: bounce3 4s infinite;
  animation: bounce3 4s infinite;
  opacity: 0.5;

}

@keyframes bounce3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}


/*Section bgs*/
.bg-1 { 
background-color: teal; 
background: linear-gradient(to left bottom, #02f4c1,teal );

color: #000000;
}
.bg-1 h1{
text-decoration: underline;
font-weight: bolder;
}
.bg-1 button{
background-color: black;
margin-bottom: 20px;
border: none;
font-weight:bold ;
}
.bg-1 button:hover{
color: black;
background-color: white;
}
.bg-2 { 
background-color: #b9b9b9; 
color: #000000;

}
.bg-3 { 

background-color: teal; 
background: linear-gradient(to left bottom, #02f4c1,teal );
color: #000000;
}
.bg-4 { 
background-color: #2f2f2f; 
color: #fff;

}
.bg-5{
background-color: #b9b9b9;
color: black;
}
.bg-6{
  
  background: -moz-linear-gradient( left, rgba(212, 0, 50, 0.6), rgba(8, 11, 196, 0.69) 100%);
  background: -webkit-linear-gradient( left, rgba(212, 0, 50, 0.6), rgba(8, 11, 196, 0.69) 100%);
  
  background-color: rgba(206, 37, 77, 0.6);
  background: linear-gradient( left, rgba(212, 0, 50, 0.6), rgba(8, 11, 196, 0.69) 100%);  
  background-size: 400% 400%;
  animation: gradient 8s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.carousel-inner img {
  width: 100%;
 
}


/*Skills*/
#Skills,#Projects h1{
text-decoration: underline;
font-weight: bolder;
color: black;
text-transform: uppercase;

}   
#Skills p{
color:black;
font-size: 20px;
font-weight: 900;
margin-bottom: 0;
}
.skills {
animation: animate3 6s forwards ease-in-out;
height: 15px;
animation-delay: 3.5s;         
border-radius: 5px;
}
@keyframes animate3 {
from {
width: 0%;
}

}

.skills {
text-align: right;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 50px;
}

.html {
width: 70%;

background-color: teal;
background: linear-gradient(to left bottom, #02f4c1,teal );
margin-bottom: 10px;
}
.css {
width: 60%;
background-color: teal;
background: linear-gradient(to left bottom, #02f4c1,teal );
margin-bottom: 10px; 
}
.js {
width: 40%;
background-color: teal;
background: linear-gradient(to left bottom, #02f4c1,teal );
margin-bottom: 10px;
}
.bs {
width: 60%;
background-color: teal;
background: linear-gradient(to left bottom, #02f4c1,teal );
margin-bottom: 10px;
}
.jq {
width: 20%;
background-color: teal;
background: linear-gradient(to left bottom, #02f4c1,teal );
margin-bottom: 10px; 
}
.sql {
width: 25%;
background-color: teal;
background: linear-gradient(to left bottom, #02f4c1,teal );
margin-bottom: 10px;
}
.cpp {
width: 65%;
background-color: teal;
background: linear-gradient(to left bottom, #02f4c1,teal );
margin-bottom: 10px;
}
.java{
width: 15%;
background-color: teal;
background: linear-gradient(to left bottom, #02f4c1,teal );
margin-bottom: 50px;}


/*projects*/

#Projects h2{
text-align: center;
font-weight: bolder;
text-decoration: underline;
text-transform: uppercase;
}

#Projects button{
background: linear-gradient(to left bottom, #02f4c1,teal );
color: white;
transition: all 1s ease-in-out;
}
#Projects button:hover{
  color: #02f4c1;
  background: #fff;
  transform: scale(1.2);
}

/*contact & footer*/
#Contact .container{

width: 100%;
}
#Contact h2{
font-weight: bolder;
text-decoration: underline;
text-transform: uppercase;
}
.row a{
color: black;
}
.row {
padding: 15px;
}
.contact a{
  font-size: 17px;
  color: rgb(32, 32, 32);
  font-weight: 50;
}
.icons i{
  color: rgb(68, 68, 68);
  margin: 0 5px;
  transition: all 1s ease-in-out;
}
.icons i:hover{
   transform: rotate(720deg);
   
}

/*footer{
padding: 2.5vh;
height: 10vh;
width: 100%;
margin-bottom: 0;
}*/

footer {
  width:auto;
  margin-top: -40vh;
  bottom:0px;
}
footer div {
  position: relative;
  background-color:teal;
  margin: -5vh 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
@media (max-width: 900px) {
  footer{
    margin-top: -10vh;
  }
  footer div {
    background-color:teal;
    margin: -5vh 0px 0px 0px;}
}
svg {
  width:100%;
}
.arrow {
  stroke-width: .7px;
  stroke:rgb(0, 0, 0);
}
.topball {
  animation: ball 1.5s ease-in-out;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor:pointer;
}
footer img{
    margin-top: -15vh;
}
@media (max-width: 767px) {
    footer img{
        margin-top: -5vh;
    }
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: rgb(0, 128, 128);
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: rgb(0, 201, 201);
  stroke-width:0.5;
  opacity:.6; 
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
  	filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  80% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  90% { 
    transform: translateY(10%) ; 
    opacity:.6; 
  }
  100% { 
    transform: translateY(0%) scale(1.5);  
    stroke-width:0.2;
    opacity:0; 
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
@keyframes ball {
  to {transform: translateY(20%);}
}

