body{
  font-family: "Oxanium";
 /* background: -moz-linear-gradient( left, rgba(212, 0, 50, 0.6), rgba(8, 11, 196, 0.69) 100%);
  background: -webkit-linear-gradient( left, rgba(212, 0, 50, 0.6), rgba(8, 11, 196, 0.69) 100%);
  */
  background-color: rgba(0, 0, 0, 0.9);
  background: linear-gradient( left, rgba(92, 92, 92, 0.9), rgba(43, 43, 43, 0.9) 100%);  
  overflow-x: hidden!important;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
html{
scroll-behavior: smooth;
}

/*PRELOADING------------ */
#overlayer {
  margin: 0;
  padding: 0;
  top: 0;
  width:100%;
  height:595%;  
  position:absolute;
  z-index:999;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),#000;
  opacity: 0.9;

}
.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index:9999;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 30%;
  left: 50%;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  border-radius: 30%;
  display: inline-block;
  width: 100%;
  background-color: rgb(88, 88, 88);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/*preloader end*/

/*mainbody*/
.navbar{
background: none;
border: none;

}
.navbar-header button{
background-color: none;
border: none;

}
.navbar-header button:hover{
background-color: black;
}

#myNavbar li a{
color: aliceblue;
}
#myNavbar li a:hover{
padding-bottom: 0;
border-bottom: 2px solid rgba(180, 180, 180, 0.6);
font-size: medium;

}
.navbar-toggler,.navbar-toggler:active{
  color: white;
  border: none!important;
}
.fa-angle-double-down{
color: white!important;
font-size: 25px;
border: none;
}
.fa-angle-double-down:hover{
  background-color: none!important;
}
#logo{
width: 60px;
padding: 5px;
}
a{
text-decoration: none;
color: aliceblue;
}

.seprate-line {
height: 3px;
background-color: transparent;
margin-bottom: 10px;
animation: animate1 2s forwards ;
animation-iteration-count: 2;
animation-delay: 0s;
}
@keyframes animate1 {
0% {background-color:rgba(8, 11, 196, 0.69);width:0%;}
25% {background-color:rgba(8, 11, 196, 0.69);}
50% {background-color:rgba(211, 41, 81, 0.6);width:50%;}
75% {background-color:rgba(211, 25, 68, 0.6);}
100% {background-color:rgba(63, 63, 63, 0.6);width:100%;}
}

[data-aos="rotate-ac"] {
transform: rotate(2700deg);
transition-property: transform;

}
[data-aos="rotate-ac"].aos-animate {
transform: rotate(0deg);
}

/* moving boxes */

.area{
  width: 100%;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(209, 209, 209, 0.4);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


.Home-items h2,p{
display: grid;

}
.Home-items h2{
font-weight: 900;
color: #7e7e7e;
}
.Home-items p{
font-weight: bold;
color: rgb(255, 255, 255);
}

.Home-items #mainlogo {
display: block;
margin:0 auto;
width: 33%;
transition: all 1.2s ease-in-out;
}
@media(max-width:1000px){
   .Home-items #mainlogo {
        width: 40%;
    }
}
@media(max-width:1048px){
  .myImage{
      margin-left: 5px!important;
  }
}
@media(max-width:530px){
  .Home-items #mainlogo {
       width: 60%;
   }
   .name{
     font-size: 21px;
     letter-spacing: 1px;
   }
   .myImage{
    margin-left: 5px!important;
  }
}
.Home-items #mainlogo:hover {
transform: rotate(1080deg);
}


#About .container{
width: 100%;
}
p {
font-size: 16px;
}
.margin {
margin-bottom: 30px;
}
.name{
  font-family: 'Yellowtail', cursive;
  font-size: 23px;
  letter-spacing: 2px;
}
.main-heading{
  font-family: 'Bangers', cursive;
  font-size: 36px;
  letter-spacing: 3px;
}
.myImage{
  margin-left: 50px;
}
/*Section bgs
.bg-1 { 
background-color: teal; 
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );

color: #000000;
}*/
.bg-1 { 
background-color: #b9b9b9; 
color: #000000;
}
.bg-1 h1{
text-decoration: underline;
font-weight: bolder;
}
.bg-1 button{
background-color: black;
margin-bottom: 20px;
border: none;
font-weight:bold ;
}
.bg-1 button:hover{
color: black;
background-color: white;
}
.bg-2{
  background: none;
  color: #fff;
}
.bg-2 h1{
  text-decoration: underline;
  font-weight: bolder;
  }

.bg-2 p{
  color: #fff;
}

.bg-4 { 
background-color: #2f2f2f; 
color: #fff;

}
.bg-5{
background-color: #b9b9b9;
color: black;
}
.bg-6{
   background-color: indigo;
   color: black;
}
.gallery {
  max-width: 700px;
 
}
.carousel img {
  max-height: 700px;
  width: 700px;
  margin: 0 auto;
}

/*Skills*/
#Skills,#Projects h1{
text-decoration: underline;
font-weight: bolder;
color: black;
text-transform: uppercase;

}   
#Skills h1{
  color: rgb(151, 151, 151);
}
#Skills p{
color:rgb(173, 173, 173);
font-size: 20px;
font-weight: 900;
margin-bottom: 0;
text-decoration: underline;
}
.skills {
height: 15px;
animation-delay: 3.5s;         
border-radius: 5px;
}
.move{
   animation: animate3 6s forwards ease-in-out;
   
}
@keyframes animate3 {
from {
width: 0%;
}

}

.skills {
text-align: right;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 50px;
}

.html {
width: 70%;

background-color: teal;
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );
margin-bottom: 10px;
}
.css {
width: 60%;
background-color: teal;
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );
margin-bottom: 10px; 
}
.js {
width: 40%;
background-color: teal;
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );
margin-bottom: 10px;
}
.bs {
width: 60%;
background-color: teal;
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );
margin-bottom: 10px;
}
.jq {
width: 20%;
background-color: teal;
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );
margin-bottom: 10px; 
}
.sql {
width: 25%;
background-color: teal;
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );
margin-bottom: 10px;
}
.cpp {
width: 65%;
background-color: teal;
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );
margin-bottom: 10px;
}
.java{
width: 15%;
background-color: teal;
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );
margin-bottom: 50px;}


/*projects*/
#Projects .row{
    margin: 0 0 40px 0;
}
 #Projects .projectBody{
     transform: skew(-10deg);
     padding: 0 50px 0 35px;
     overflow: hidden;
     background: #b9b9b9;
     box-shadow: 0 0px 15px rgba(116, 116, 116, 0.9);
     border-top-right-radius:30px ;
     border-bottom-left-radius: 30px;
     transition: all 0.5s ease-in-out;
}
#Projects .projectBody:hover {
   transform: scale(1.1) skew(-10deg);
   box-shadow: 0 0px 25px rgba(146, 146, 146, 0.9);
}
#Projects .projectHeader{
  color: #b9b9b9;
}
.projectTitle{
  font-family: fantasy;
}
.projectTitle,.projectDescription{
    /* transform: skew(10deg); */
    color: rgb(36, 36, 36);
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

#Projects button{
background: linear-gradient(to left bottom,rgb(148, 148, 148),#000 );
color: white;
transition: all .1s ease-in-out;

}
#Projects button:hover{
  color: #000;
  background: #fff;
  transform: scale(1.2);
}

@media(max-width:470px){
  #Projects button{
    display: inline;
    margin: -5px 0 7px 0;
  }
}
/*contact & footer*/
#Contact .container{

width: 100%;
}
#Contact h2{
font-weight: bolder;
text-decoration: underline;
text-transform: uppercase;
}

.row a{
color: black;
}
.row {
padding: 15px;
}
.contact a{
  font-size: 17px;
  color: rgb(32, 32, 32);
  font-weight: 600;
}


footer span{
  font-size: 26px;
  animation: bounce .5s infinite alternate;
  color: white;
}


@keyframes bounce{
  0%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(5px);
  }
}

.site-footer
{
  background-color:rgb(32, 32, 32);
  padding:25px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}
.copyright-text
{
  margin:0;
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  .copyright-text{
    margin-bottom: 15px!important;
  }
 
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}

.social-icons a.instagram:hover
{
  background-color:#da0255
}
.social-icons a.github:hover
{
  background-color:#000000;
  color: white;
}
.social-icons a.codepen:hover
{
  background-color:#fff;
  color: black;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
